#univList__search {
    height: 85px;
    border-top: solid 1px rgba(1, 1, 1, 0.2);
    border-bottom: solid 1px rgba(1, 1, 1, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#univList__search__title {
    margin-top: 10px;
}

#univList__search__title h2 {
    margin-left: 2.5%;
    margin-bottom: 1%;
    font-weight: bold;
}

#univList__search__input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    position: relative;
}

#univList__search__input input {
    width: 95%;
    height: 30px;
    padding-left: 2%;

    background-color: rgb(242, 242, 242);
    border: 1px solid lightgrey;
}

#search__icon {
    position: absolute;
    right: 8%;
    color: gray;
}

#univList__ul {
    height: 585px;
    overflow-y: scroll;
}

#univList__ul :hover {
    background-color: rgb(242, 242, 242);
}

#univList__item {
    width: 100%;

    border-bottom: solid 1px rgba(1, 1, 1, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#univList__item span {
    margin: 15px 2.5%;
}

#univList__item :last-child {
    opacity: 0.4;
}
